.App{
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
button{
  background-color: rgb(5, 192, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
body{
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
h1{
  color: #333;
}
p{
  font-size: 18px;
  color: #2c2323;
  margin: 0.5em 0;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}
input{
  padding: 10px;
  margin: 5px 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label{
  margin-top: 10px;
  font-weight: bold;
}
submit-btn{
  background-color: rgb(240, 227, 38);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}